.App-line-date {
    padding: 20px 0;
}

.App-line-date {
    padding: 0 5px;
    font-size: 12px;
    color: #49408A;
    font-weight: bolder;
    border-bottom: 1px solid #49408A;
    text-align: left;
}

.App-line-title {
    display: inline-block;
    margin: 10px 0 0;
}

.App-line-score {
    padding: 5px;
    display: inline;
    font-weight: bolder;
    color: #ff8357;
    border: 1px solid #ff8357;
    border-radius: 50%;
    vertical-align: top;
}

.App-line-link {
    display: inline;
    font-size: 14px;
    margin: 10px 0 0 10px;
    background-color: rgba(255, 193, 188, 0.25);
    text-decoration: none;
    text-align: left;
}

.App-line-author {
    margin: 10px 0 0;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #222222;
    text-align: right;
}